* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}


#outerbox {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to right, blue, #fa032c);
    min-width: 100%;
    min-height: 100vh;


}

h1 {
    color: #ffd700;
    font-size: 75px;

}

#guessnumber {
    min-width: 25%;
    min-height: 5%;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ffffff;


}

#guessnumber:focus {
    outline: none;
}

#guessnumber::placeholder {
    font-size: 18px;

}

#btn {
    min-width: 10%;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 10px;

}

#btn:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: #03fa4d;
    border: 1px solid #03fa4d;
}

#result {
    color: #ffffff;
    font-size: 28px;
}

#score {
    color: #ffffff;
    font-size: 24px;
}